html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.home {
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.7)),
    url('../public/dog.jpg');
  background-size: cover;
}

.home-bg {
  height: inherit;
  color: aliceblue;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.home-content {
  margin-top: 10rem;
  width: 40%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  /* text-transform: capitalize; */
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}